{% extends 'ghec/base.html' %}

{% load static %}  


{%block content%}






<!--About One Start-->
     <section class="about-one" id="about">
        <div class="about-one__shape-3 float-bob-y">
            <img src="{% static 'ghec/images/shapes/about-one-shape-3.png' %}" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-one__left">
                        <div class="about-one__shape-2 img-bounce">
                            <img src="{% static 'ghec/images/shapes/about-one-shape-2.png' %}" alt="">
                        </div>
                        <div class="about-one__img-box">
                            <div class="about-one__img">
                                <img src="{% static 'ghec/images/resources/about-one-img-1.jpg' %}" alt="">
                                <div class="about-one__shape-1 float-bob-y">
                                    <img src="{% static 'ghec/images/shapes/about-one-shape-1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="about-one__img-2">
                                <img src="{% static 'ghec/images/resources/about-one-img-2.jpg' %}" alt="">
                            </div>
                            <div class="about-one__experience count-box">
                                <h3 class="count-text" data-stop="5" data-speed="1500">00</h3>
                                <p>Years of Experience</p>
                            </div>
                            <div class="about-one__badge">
                                <img src="{% static 'ghec/images/resources/about-one-badge.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-one__right">
                        <div class="section-title text-left">
                            <div class="section-title__tagline-box">
                                <span class="section-title__tagline">Get to know about us</span>
                                <div class="section-title__border-box"></div>
                            </div>
                            <h2 class="section-title__title">Visa & Immigration
                                <br> Consulting Firm in USA</h2>
                        </div>
                        <p class="about-one__text">There are many variations of passages of available but the
                            majority have suffered alteration in some form, by injected hum randomised words which
                            don't slightly.</p>
                        <ul class="about-one__points list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-consulting"></span>
                                </div>
                                <div class="content">
                                    <h3>Best Consultatncy</h3>
                                    <p>The wise man therefore always holds in these matters this principle
                                        Information</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-passport-3"></span>
                                </div>
                                <div class="content">
                                    <h3>Guarantee Approval</h3>
                                    <p>The wise man therefore always holds in these matters this principle
                                        Information</p>
                                </div>
                            </li>
                        </ul>
                        <div class="about-one__btn-box">
                            <a href="#" class="about-one__btn thm-btn">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About One End-->


    

    <!--Services One Start-->
    <section class="services-one" id="visa">
        <div class="container">
            <div class="section-title text-center">
                <div class="section-title__tagline-box">
                    <span class="section-title__tagline">our Visa categories</span>
                    <div class="section-title__border-box"></div>
                </div>
                <h2 class="section-title__title">We Offers Citizenship & <br> Immigration Services</h2>
            </div>
            <div class="row">
                <!--Services One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="services-one__single">
                        <div class="services-one__single-inner">
                            <div class="services-one__hover-content">
                                <div class="services-one__hover-bg"
                                    style="background-image: url('/static/ghec/images/resources/services-one-img-1.jpg');">
                                </div>
                                <div class="services-one__hover-title-box">
                                    <h3 class="services-one__hover-title"><a href="{% url 'packageCanada' %}">Tourist
                                            Visa</a></h3>
                                    <div class="services-one__hover-shpae">
                                        <img src="{% static 'ghec/images/shapes/services-one-hover-shape.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="services-one__arrow">
                                    <a href="{% url 'packageCanada' %}"><span class="icon-up-right"></span></a>
                                </div>
                            </div>
                            <div class="services-one__icon">
                                <span class="icon-tourist"></span>
                            </div>
                            <h3 class="services-one__title"><a href="{% url 'packageCanada' %}">Tourist Visa</a></h3>
                            <p class="services-one__text">Desire that they can forese trouble bound ensue.</p>
                        </div>
                    </div>
                </div>
                <!--Services One Single End-->
                <!--Services One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="services-one__single">
                        <div class="services-one__single-inner">
                            <div class="services-one__hover-content">
                                <div class="services-one__hover-bg"
                                    style="background-image: url('/static/ghec/images/resources/services-one-img-2.jpg');">
                                </div>
                                <div class="services-one__hover-title-box">
                                    <h3 class="services-one__hover-title"><a href="{% url 'packageCanada' %}">Business
                                            Visa</a></h3>
                                    <div class="services-one__hover-shpae">
                                        <img src="{% static 'ghec/images/shapes/services-one-hover-shape.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="services-one__arrow">
                                    <a href="{% url 'packageCanada' %}"><span class="icon-up-right"></span></a>
                                </div>
                            </div>
                            <div class="services-one__icon">
                                <span class="icon-consulting"></span>
                            </div>
                            <h3 class="services-one__title"><a href="{% url 'packageCanada' %}">Business Visa</a></h3>
                            <p class="services-one__text">Desire that they can forese trouble bound ensue.</p>
                        </div>
                    </div>
                </div>
                <!--Services One Single End-->
                <!--Services One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="services-one__single">
                        <div class="services-one__single-inner">
                            <div class="services-one__hover-content">
                                <div class="services-one__hover-bg"
                                    style="background-image: url('/static/ghec/images/resources/services-one-img-3.jpg');">
                                </div>
                                <div class="services-one__hover-title-box">
                                    <h3 class="services-one__hover-title"><a href="{% url 'packageCanada' %}">Student
                                            Visa</a></h3>
                                    <div class="services-one__hover-shpae">
                                        <img src="{% static 'ghec/images/shapes/services-one-hover-shape.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="services-one__arrow">
                                    <a href="{% url 'packageCanada' %}"><span class="icon-up-right"></span></a>
                                </div>
                            </div>
                            <div class="services-one__icon">
                                <span class="icon-graduating-student"></span>
                            </div>
                            <h3 class="services-one__title"><a href="{% url 'packageCanada' %}">Student Visa</a></h3>
                            <p class="services-one__text">Desire that they can forese trouble bound ensue.</p>
                        </div>
                    </div>
                </div>
                <!--Services One Single End-->
                <!--Services One Single Start-->
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="services-one__single">
                        <div class="services-one__single-inner">
                            <div class="services-one__hover-content">
                                <div class="services-one__hover-bg"
                                    style="background-image: url('/static/ghec/images/resources/services-one-img-4.jpg');">
                                </div>
                                <div class="services-one__hover-title-box">
                                    <h3 class="services-one__hover-title"><a href="{% url 'packageCanada' %}">Residence
                                            Visa</a></h3>
                                    <div class="services-one__hover-shpae">
                                        <img src="{% static 'ghec/images/shapes/services-one-hover-shape.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="services-one__arrow">
                                    <a href="{% url 'packageCanada' %}"><span class="icon-up-right"></span></a>
                                </div>
                            </div>
                            <div class="services-one__icon">
                                <span class="icon-condominium"></span>
                            </div>
                            <h3 class="services-one__title"><a href="{% url 'packageCanada' %}">Residence Visa</a></h3>
                            <p class="services-one__text">Desire that they can forese trouble bound ensue.</p>
                        </div>
                    </div>
                </div>
                <!--Services One Single End-->
            </div>
        </div>
    </section>
    <!--Services One End-->



    <img src="{% static 'ghec/images/shapes/services-one-hover-shape.png' %}" alt="">

    <!--Video One Start-->
    <section class="video-one">
        <div class="video-one__bg" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url('/static/ghec/images/backgrounds/video-one-bg.jpg');"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="video-one__left">
                        <div class="section-title text-left">
                            <div class="section-title__tagline-box">
                                <span class="section-title__tagline">get our support</span>
                                <div class="section-title__border-box"></div>
                            </div>
                            <h2 class="section-title__title">Most Trusted Visa &
                                Immigration</h2>
                        </div>
                        <ul class="video-one__points list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-check"></span>
                                </div>
                                <div class="text">
                                    <p>Fast Visa Process</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-check"></span>
                                </div>
                                <div class="text">
                                    <p>Get Country Citizenship</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-check"></span>
                                </div>
                                <div class="text">
                                    <p>Help in Documentation</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="video-one__right">
                        <div class="video-one__video-link">
                            <a href="https://www.youtube.com/watch?v=IwauBIpIz1w" class="video-popup">
                                <div class="video-one__video-icon">
                                    <span class="fa fa-play"></span>
                                    <i class="ripple"></i>
                                </div>
                            </a>
                            <div class="video-one__shape-1 float-bob-x">
                                <img src="{% static 'ghec/images/shapes/video-one-shape-1.png' %}" alt="">
                            </div>
                        </div>
                        <p class="video-one__text">Aliquam viverra arcu. Donec aliquet blandit enim id <br> quam sed
                            eros
                            tincidunt luctus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Video One End-->




  

<!--Counter One Start-->
<section class="counter-one">
    <div class="counter-one__bg" style="background-image: url('/static/ghec/images/backgrounds/counter-one-bg.png');">
    </div>
    <div class="container">
        <div class="row">
            <!--Counter One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-passport-4"></span>
                    </div>
                    <div class="counter-one__content">
                        <div class="counter-one__count-box count-box">
                            <h3 class="count-text" data-stop="30" data-speed="1500">00</h3>
                            <span class="counter-two__plus">+</span>
                        </div>
                        <p>Visa Categories</p>
                    </div>
                </div>
            </div>
            <!--Counter One Single End-->
            <!--Counter One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-life-insurance"></span>
                    </div>
                    <div class="counter-one__content">
                        <div class="counter-one__count-box count-box">
                            <h3 class="count-text" data-stop="68" data-speed="1500">00</h3>
                            <span class="counter-two__plus">k</span>
                        </div>
                        <p>Visa Process</p>
                    </div>
                </div>
            </div>
            <!--Counter One Single End-->
            <!--Counter One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-success"></span>
                    </div>
                    <div class="counter-one__content">
                        <div class="counter-one__count-box count-box">
                            <h3 class="count-text" data-stop="99" data-speed="1500">00</h3>
                            <span class="counter-two__plus">+</span>
                        </div>
                        <p>Success Rate</p>
                    </div>
                </div>
            </div>
            <!--Counter One Single End-->
            <!--Counter One Single Start-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="counter-one__single">
                    <div class="counter-one__icon">
                        <span class="icon-group"></span>
                    </div>
                    <div class="counter-one__content">
                        <div class="counter-one__count-box count-box">
                            <h3 class="count-text" data-stop="23" data-speed="1500">00</h3>
                            <span class="counter-two__plus">+</span>
                        </div>
                        <p>Pro Consultants</p>
                    </div>
                </div>
            </div>
            <!--Counter One Single End-->
        </div>
    </div>
</section>
<!--Counter One End-->

{%endblock%}