{% extends 'ghec/base.html' %}

{% load static %}  


{%block content%}


<link rel="stylesheet" href="{% static 'ghec/css/customcss.css' %}" />

<div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
   
  <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
<div class="formbg1">
  <div class="formbg-inner padding-horizontal--48">

    <h1><center>{{data1}} </center></h1>
    <h1><center>{{name1}} </center></h1>
   
  </div></div>

  </div></div>





{%endblock%}