{% extends 'ghec/base.html' %}

{% load static %}  


{%block content%}

{% if user.is_authenticated %}
<!--Contact Three Start-->
<section class="contact-three">
  <div class="contact-three__bg"
      style="background-image: url('/static/ghec/images/backgrounds/contact-three-bg.png');"></div>
  <div class="container">
      <center>
          
          <div class="col-xl-6 col-lg-5">
              <div class="contact-three__right">
                  <div class="contact-three__form-box">
                      <div class="contact-three__form-top">
                          <p>APPLY</p>
                      </div>
                      <div class="anime-box4">
                      <form method="POST">
                        <br>
                        <div class="contact-three__form-input-box-anime">
                        {% csrf_token %}
                        {{ form.as_p}}
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="contact-three__form-btn-box">
                                    <button type="submit" class="thm-btn contact-three__form-btn">Send a
                                        Message</button>
                                </div>
                            </div>
                        </div>
                        <br>



                      </form>
                    </div>
                      <div class="result"></div>
                  </div>
              </div>
          </div>

        </center>
      
  </div>
</section>
<!--Contact Three End-->

<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value = name; 
</script>



{% else %}
<link rel="stylesheet" href="{% static 'ghec/css/customcss.css' %}" />

<div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
   
  <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
<div class="formbg1">
  <div class="formbg-inner padding-horizontal--48">
    <h1><center><a href="{% url 'login' %}">You need to login  <br/> to view this page</a></center></h1>
   
  </div></div>

  </div></div>
{% endif %}


{%endblock%}